{:site-title         "Closp Documentation"
 :author             "Sven Richter"
 :description        "This blog is awesome"
 :site-url           "http://closp.net/"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      "posts"
 :page-root-uri      "pages"
 :tag-root-uri       "tags-output"
 :author-root-uri    "authors-output"
 :blog-prefix        ""
 :rss-name           "feed.xml"
 :rss-filters        ["cryogen"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           nil
 :sass-dest          nil
 :theme              "blue"
 :resources          ["img"]
 :keep-files         [".git"]
 :disqus?            false
 :disqus-shortname   "clospdocumentation"
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false
 :clean-urls?        true}
